VITE_TICKET_SERVICE_URL=http://localhost:4005/ticket-service
VITE_ANALYTICS_SERVICE_URL=http://localhost:3001
VITE_KEYCLOAK_ISSUER=http://localhost:9090/realms/event-ticket-platform
VITE_KEYCLOAK_CLIENT_ID=event-ticket-platform-app
